#superhero-photo {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  float: right;
}

* {
  font-family: "Roboto", sans-serif;
}

.custom-button {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

li:hover {
  cursor: pointer;
  color: red;
  font-size: 25px;
}

